@import '../../../styles';

.contenido {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.contenido-info {
  text-align: center;
  margin: 1rem 0rem;
  a {
    color: #333;
  }
}

.space {
  margin-right: 1rem;
}

fa-icon {
  font-size: 1.5rem;
  color: #333;
}

.contenido-load {
  display: flex;
  align-self: center;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

td,
th {
    text-align: center;
}

.component-table {
  overflow: auto;
}

.num-cedula {
  min-width: 8rem;
  text-align: center;
}

.name {
  min-width: 15rem;
  text-align: center;
}

.big-colum {
  min-width: 20rem;
  text-align: center;
}

.small-colum {
  min-width: 5rem;
  text-align: center;
}

.no-items {
  text-align: start;
  padding-left: 1rem;
}
