@import '../../../../styles.scss';

h2 {
  color: $blanco;
}
/* Contenido principal */
.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.card img {
  width: 100%;
  height: 25vh;
}

.info .categorias {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
} 

.info .titulo {
  font-size: 1.6rem;
  font-weight: 900;
  margin: 0;
} 

.info .precio {
  color: var(--obscuro);
  font-size: .9rem;
}

/* Destinos populares */
.destinos .contenedor-cards {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  position: relative;
}

.destinos .card {
  position: relative;
}

.destinos .info {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.destinos .info .titulo {
  background-color: #ffffffb2;
  color: $negro;
  padding: .5rem;
  font-size: 1.8rem;
}