<main class="contenido contenedor">
  <section class="destinos modulo">
    <h2>Estilos</h2>
    <div class="contenedor-cards">
        <div class="card">
            <img src="assets/img/code1.jpg" alt="" srcset="">
            <div class="info">
                <p class="titulo">
                    Estilos 1
                </p>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/code2.jpg" alt="" srcset="">
            <div class="info">
                <p class="titulo">
                    Estilos 2
                </p>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/code3.jpg" alt="" srcset="">
            <div class="info">
                <p class="titulo">
                    Estilos 3
                </p>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/code4.jpg" alt="" srcset="">
            <div class="info">
                <p class="titulo">
                    Estilos 4
                </p>
            </div>
        </div>
    </div>  
  </section>
</main>