<div class="contenedor-cv">
  <div class="paginado-cv">
    <button (click)="paginador('Inicio')" tooltip="Sombre mí" flow="right">
      <fa-icon [icon]="idCard"></fa-icon>
    </button>
    <button (click)="paginador('Experiencia')" tooltip="Experiencia laboral" flow="right">
      <fa-icon [icon]="experienia"></fa-icon>
    </button>
    <button (click)="paginador('cedula')" tooltip="Cédulas profesionales" flow="right">
      <fa-icon [icon]="cedula"></fa-icon>
    </button>
    <button (click)="paginador('Proyecto')" tooltip="Proyectos públicos" flow="right">
      <fa-icon [icon]="proyecto"></fa-icon>
    </button>
    <button (click)="paginador('Juegos')" tooltip="Juegos" flow="right">
      <fa-icon [icon]="juegos"></fa-icon>
    </button>
    <!-- <button (click)="paginador('Api')" tooltip="API REST" flow="right">
      <fa-icon [icon]="api"></fa-icon>
    </button> -->
    <button (click)="paginador('Info')" tooltip="Característica" flow="right">
      <fa-icon [icon]="info"></fa-icon>
    </button>
  </div>
  <div class="contenido">
    <router-outlet></router-outlet>
  </div>
  <div class="version">
    v1.2
  </div>
</div>
