<div class="hero">
  <div class="contenedor">
    <section class="section">
        <div class="contenedor-cards">
            <div class="nav-footer">
                <h3>MiViaje.com</h3>
                <nav class="menu">
                    <a href="">Empelo</a>
                    <a href="">Prensa</a>
                    <a href="">Politicas</a>
                    <a href="">Ayuda</a>
                </nav>
            </div>
            <div class="nav-footer">
                <h3>Descrubre MiViaje.com</h3>
                <nav class="menu">
                    <a href="">Confianza y seguridad</a>
                    <a href="">Credito de viajero</a>
                    <a href="">AirBNB Citizens</a>
                    <a href="">Viaje de negocios</a>
                </nav>
            </div>
            <div class="nav-footer">
                <h3>Hospedaje</h3>
                <nav class="menu">
                    <a href="">Razones para hospedar</a>
                    <a href="">Hospitalidad</a>
                    <a href="">Ser un anfitrion responsable</a>
                    <a href="">Cnetro de la comunidad</a>
                </nav>
            </div>
            <div class="nav-footer">
                <nav class="sociales">
                    <ul>
                        <li><a href="https://www.facebook.com/" target="_blank"><span>Facebook</span></a></li>
                        <li><a href="https://twitter.com/LuizunSolid" target="_blank"><span>Twitter</span></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"><span>Instagram</span></a></li>
                    </ul>
                </nav>
                <nav class="menu">
                    <a href="">Razones para hospedar</a>
                    <a href="">Hospitalidad</a>
                    <a href="">Ser un anfitrion responsable</a>
                    <a href="">Cnetro de la comunidad</a>
                </nav>
            </div>
        </div>
    </section>
  </div>
</div>