@import '../../styles.scss';
.hero {
  display: grid;
  align-content: center;
  background-image: url(../../assets/img/fondo1.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  
  @include desktop {
    background-position: center center;
  }

  .contenedor {
    background-color: rgba(51, 51, 51, 0.788);
    width: 100%;
    height: 100vh;
  }
}

.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

/* Footer */
.footer {
  position: fixed;
  width: 100%;
  padding: 3rem 0;
}
.footer.activo {
  bottom: 0;
}
.footer .contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
  grid-gap: 1rem;
}
.footer .nav-footer {
  padding: 1rem;
}
.footer .nav-footer h3 {
  font-size: 1.2rem;
}
.footer .menu a{
  text-decoration: none;
  display: block;
  padding-top: .5rem;
}

/* Red Social */
.sociales ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  flex:1 0 auto;
  list-style: none;
}
.sociales ul li {
  margin-right: 3rem;
  @include tableta {
    margin-right: 2.5rem;
  }
  @include desktop {
    margin-right: 2rem;
  }
}
.sociales ul li:last-of-type {
  margin-right: 0;
}
.sociales ul li a {
  text-decoration: none;
}
.sociales ul li a:before {
  font-family: "Font Awesome 5 Brands";
  color: $blanco;
  font-size: 2.5rem;
}
.sociales ul li a[href*='facebook']::before {
  content: "\f39e";
}

.sociales ul li a[href*='twitter']::before {
  content: "\f099";
}
.sociales ul li a[href*='youtube']::before {
  content: "\f431";
}
.sociales ul li a[href*='instagram']::before {
  content: "\f16d";
}
.sociales ul li a[href*='pinterest']::before {
  content: "\f231 ";
}
.sociales ul li span{
  display: none;
}
