<div class="contenido-info">
  <div class="contenido-framework">
    <div class="contenido-titulo">
      <fa-icon class="angular" [icon]="iconAngular"></fa-icon>
      <h5>ngular <span class="version tirulo">v11.2.3</span></h5>
    </div>
    <div class="contenido-subtitulo">
      <fa-icon [icon]="iconGithub"></fa-icon> Github
    </div>
    <div class="lista-paquetes">
      <!-- <div class="paquete"><fa-icon [icon]="iconTerminal"></fa-icon> @angular/pwa <span class="version">v0.803.17</span></div> -->
      <div class="paquete"><fa-icon [icon]="iconTerminal"></fa-icon> bootstrap <span class="version">v4.5.2</span></div>
      <div class="paquete"><fa-icon [icon]="iconTerminal"></fa-icon> angular-fontawesome <span class="version">v0.8.2</span></div>
    </div>
  </div>
  <div class="contenido-framework">
    <div class="contenido-titulo">
      <h5>Node</h5>
      <fa-icon class="node" [icon]="iconNode"></fa-icon>
      <span class="version tirulo">v14.9.0</span>
    </div>
    <div class="contenido-subtitulo">
      <fa-icon [icon]="iconServer"></fa-icon> Heroku
    </div>
    <div class="lista-paquetes">
      <div class="paquete"><fa-icon [icon]="iconTerminal"></fa-icon> express <span class="version">v4.14.1</span></div>
      <div class="paquete"><fa-icon [icon]="iconTerminal"></fa-icon> typescript <span class="version">v4.0.0</span></div>
      <div class="paquete"><fa-icon [icon]="iconTerminal"></fa-icon> body-parse <span class="version">v0.1.0</span></div>
      <div class="paquete"><fa-icon [icon]="iconTerminal"></fa-icon> cors <span class="version">v2.8.5</span></div>
    </div>
    <div class="peticiones">
      <div class="peticion">
        <div class="nombre-peticion">
          Obtener experiencias laborales
        </div>
        <a [href]="url" target="_blank"><span class="tipo">[GET]</span> <span class="url">{{url}}</span></a>
      </div>
      <div class="peticion">
        <div class="nombre-peticion">
          Obtener experiencia laboral por ID
        </div>
        <a [href]="url+'/1'" target="_blank"><span class="tipo">[GET]</span> <span class="url">{{url}}/:id</span></a>
      </div>
    </div>
  </div>
  <div class="contenido-framework">
    <div class="contenido-titulo">
      <fa-icon class="node mongo" [icon]="iconDataBase"></fa-icon>
      <h5>mongoDB <span class="version tirulo">Version 4.4.4</span></h5>
    </div>
    <div class="contenido-subtitulo">
      <fa-icon [icon]="iconServer"></fa-icon> mongoDB Atlas
    </div>
  </div>
</div>