<footer class="footer">
    <div class="contenedor">
        <div class="widget">
            <h3>Contacto</h3>
            <p>Tel: 56-1342-9414</p>
            <p>Dirección</p>
            <p>CDMX</p>
        </div>
        <div class="widget">
            <h3>Sobre Mi</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero provident magni nulla quo sapiente.</p>
        </div>
        <div class="widget">
            <nav class="sociales">
                <h3>Redes</h3>
                <ul>
                    <li><a href="https://www.facebook.com/" target="_blank"><span>Facebook</span></a></li>
                    <li><a href="https://twitter.com/LuizunSolid" target="_blank"><span>Twitter</span></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><span>Instagram</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>