@import '../../../styles.scss';

.contenedor{
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  .contenido {
    text-align: center;
    color: $blanco;
    @include tableta {
      text-align: center;
    }
    @include desktop {
      text-align: left; 
    }
  }
  // @include tableta {
  //   width: 100%;  
  // }
  // @include desktop {
  //   width: 100vh;  
  // }
}

.hero {
  display: grid;
  align-content: center;
  background-image: url(../../../assets/img/code3.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  
  @include desktop {
    background-position: center center;
  }

}
