@import '../../../styles.scss';

.contenido-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  @include telefono {
    grid-template-columns: auto 1fr;
    grid-gap: 0rem;
  }
  @include tableta {
    grid-template-columns: auto 1fr;
    grid-gap: 0rem;
  }
  @include desktop {
    grid-template-columns: auto 1fr;
    grid-gap: 0rem;
  }
  .foto-perfil {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    @include telefono {
      width: 8rem;
      height: 8rem;
    }
    @include tableta {
      width: 7rem;
      height: 7rem;
    }
    @include desktop {
      width: 10rem;
      height: 10rem;
    }
  }
  .datos {
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 0.2rem;
    h4 {
      margin-top: 0rem;
      margin-bottom: 2px;
      text-align: center;
    }
    .fecha-nacimiento {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0rem;
      margin-bottom: 2px;
      color: #000000;
      font-size: 12px;
      fa-icon {
        padding: 0rem 0.3rem;
        color: #000;
        font-size: 0.5rem;
      }
    }
    .pais-contenio {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 0.5rem;
      justify-content: center;
      align-items: center;
      .bandera {
        width: 1.3rem;
        height: 1.3rem;
      }
      .pais {
        font-size: 13px;
        align-self: center;
      }
    }
    .desc {
      width: 100%;
      margin: 0 auto;
      font-size: 13px;
      text-align: center;
      @include tableta {
        width: 90%;
      }
      @include desktop {
        width: 75%;
      }
    }
    .redes-lista {
      display: grid;
      grid-template-columns: repeat(4, auto);
      justify-content: center;
      grid-gap: 1rem;
      .red {
        cursor: pointer;
        fa-icon {
          color: #333;
        }
      }
    }
  }
}